html {
	/*
	font-family: arial, Helvetica, sans-serif;
	*/
	
	
	font-family: arial, sans-serif;
}

.center-text {
	text-align: center;
}

.hr-simple-division {
	height: 5px;
	color: dimgray;
	background-color: gray;
	border: solid 2px gray;
}

.different-navbar-background-color {
	background-color: dodgerblue;
}

.different-sidebar-background-color {
	background-color: dimgray;
}

footer {
	text-align: center;
	color: white;
	background-color: #333333;
	padding: 8px;
}