html {
	/*
	font-family: arial, Helvetica, sans-serif;
	*/
	
	
	font-family: arial, sans-serif;
}

.center-text {
	text-align: center;
}

.hr-simple-division {
	height: 5px;
	color: dimgray;
	background-color: gray;
	border: solid 2px gray;
}

.different-navbar-background-color {
	background-color: dodgerblue;
}

.different-sidebar-background-color {
	background-color: dimgray;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.remove-blur-from-upscaled-small-image {
	image-rendering: pixelated;
	/* Not sure if this is needed. I am keeping this commented for now.
	image-rendering: crisp-edges;
	*/
}

footer {
	text-align: center;
	color: white;
	background-color: #333333;
	padding: 8px;
}